# This is a basic workflow to help you get started with Actions

name: Start Minikube Cluster real one

# Events: Controls when the workflow will run
on:
    workflow_dispatch:

# Jobs: A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    # This workflow contains a single job called "start-minikube"
    start-minikube:
      # The type of runner that the job will run on
      runs-on: self-hosted
  
      # Steps represent a sequence of tasks that will be executed as part of the job
      steps:
        #
        - name: Start minikube
          run: minikube start #--user=minikube # -n 2 # --nodes 2

        #- name: Enable ingress addon
        #  run: minikube addons enable ingress
        
        #- run: minikube ssh --user ubuntu
        #- run: minikube start 

        - name: Check minikube status
          run: minikube status
